services:
  mariadb:
    image: {{ mariadb_image }}
    container_name: central-mariadb
    restart: unless-stopped
    command: ["--bind-address=0.0.0.0"]
    environment:
      MARIADB_ROOT_PASSWORD: "{{ mysql_root_password }}"
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
      - {{ db_compose_dir }}/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

volumes:
  mariadb_data:
    name: mariadb_data
