[Unit]
Description=win11React Container
Wants=NetworkManager.service network-online.target docker.service
After=NetworkManager.service network-online.target docker.service
Requires=docker.service

[Install]
WantedBy=multi-user.target

[Service]
TimeoutStartSec=0

#ExecStartPre=/usr/bin/docker pull blueedge/win11react:latest
#ExecStoppedPre=/usr/bin/docker stop blueedge/win11react:latest

ExecStart=/usr/bin/docker run \
        -d --privileged=true \
        --name win11ccdc \
        -h win11ccdc \
        -p 3000:3000 \
#        -p 8089:8089 \
#        -v /opt/splunk/etc/apps/:/opt/splunk/etc/apps/ \
#        --network="bridge" \
        jessefmoore/win11ccdc
#        blueedge/win11react:latest
#ExecStop=/usr/bin/docker stop win11react
#ExecStop=/usr/bin/docker rm win11react
Restart=always
